.main-div-studentProfile {
  margin: 0 auto;
  min-width: 320px;
  padding: 24px 16px 0;
}

.main-relative-div-studentProfile {
  position: relative;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-md-4 {
  width: 33.33333%;
}